{
  "presets": [
    [
      "@nuxt/babel-preset-app",
      {}
    ],
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "modules": false,
        "debug": false
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "useESModules": true
      }
    ]
  ]
}
